---
const { url, title, description, date, author } = Astro.props;
---

<li
  class="rounded-lg bg-white overflow-hidden group hover:shadow-lg h-full transition duration-300"
>
  <a href={url} title={title} class="group">
    <article class="flex-1 h-full flex flex-col">
      <div class="block w-full">
        <img
          class="object-scale-down bg-center h-64 w-full group-hover:scale-[1.03] transition duration-300"
          src="images/fhc1_fhc.svg"
          alt={title}
        />
      </div>
      <div
        class="flex flex-col items-start justify-between h-full flex-1 w-full p-4"
      >
        <div>
          <div class="inline-flex space-x-1 items-center">
            <p class="text-xs font-medium text-black">{author}</p>
            <div class="flex text-xs text-zinc-400">
              <time datetime="2020-03-16">{date}</time>
            </div>
          </div>
          <p class="text-black mt-2 font-display text-xl text-pretty">
            {title}
          </p>
        </div>
        <p class="mt-4 text-sm text-zinc-500 line-clamp-2">{description}</p>
      </div>
    </article>
  </a>
</li>
