---
import { getCollection } from "astro:content";
import BlogPostCard from "./BlogPostCard.astro";
import Footer from "./Footer.astro";

const allPosts = await getCollection("posts");
const sortedPosts = allPosts
.filter((post) => !post.data.draft)
.sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
const { posts } = Astro.props;
---

<div class="max-w-5xl mx-auto mt-5">
  <ul class="grid lg:gap-4 gap-y-12 lg:grid-cols-2 md:grid-cols-1">
    {
      sortedPosts.map((post, i: number) => (
        <div class={i === 0 ? "lg:col-span-2 md:col-span-1" : ""}>
          <BlogPostCard
            author={post.data.author}
            url={"/posts/" + post.id}
            title={post.data.title}
            description={post.data.description}
            date={post.data.date.toString().slice(0, 10)}
            coverImage={post.data.coverImage}
            headerText={post.data.headerText}
          />
        </div>
      ))
    }
  </ul>

  <Footer />
</div>
