---
import Prose from "../components/Prose.astro";
import RightSidebar from "../components/RightSidebar.astro";
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="mt-12 2xl:mt-0">
    <article class="max-w-5xl mx-auto">
      <header>
        <div class="w-full">
          {
            frontmatter.coverImage && (
              <img
                class="w-full h-64 object-contain rounded-lg p-8 bg-gradient-to-r dark:from-indigo-600 dark:to-sky-400 from-indigo-300 to-sky-100 mb-4"
                src={frontmatter.coverImage}
                alt={frontmatter.title}
              />
            )
          }
        </div>

        <h1
          class="pb-4 text-2xl sm:text-4xl font-bold text-left dark:text-transparent bg-clip-text bg-gradient-to-r dark:from-indigo-600 dark:to-sky-400 text-black"
        >
          {frontmatter.title}
        </h1>
        <span class="dark:text-cyan-500">
          <span class="italic">
            {frontmatter.date.toLocaleDateString()}
          </span>
          - {frontmatter.author}
        </span>
      </header>
      <div class="mt-12 max-w-5xl">
        <Prose>
          <slot />
        </Prose>
      </div>
      <!-- <div class="mt-12">Tags</div>
      <div class="mt-12">Share</div>
      <div class="mt-12">Prev/Next article</div> -->
    </article>

    <!-- <RightSidebar /> -->
  </div>
</BaseLayout>
